<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>안녕하세요~</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
    <div id="container">
        <header>
            <h1>메인 페이지</h1>
        </header>
        <section>
            <h3>주소 표시줄에 아래의 경로를 입력하세요</h3>
            <p><a link href="http://127.0.0.1:5000/season"> http://127.0.0.1:5000/season -> 계절 출력 </a></p>
            <p><a link href="http://127.0.0.1:5000/loopindex"> http://127.0.0.1:5000/loopindex -> loop.index 순번 출력 </a></p>
            <p><a link href="http://127.0.0.1:5000/even_odd"> http://127.0.0.1:5000/even_odd -> 짝수/홀수 출력 </a></p>
            <p><a link href="http://127.0.0.1:5000/register"> http://127.0.0.1:5000/register-> 회원 가입 </a></p>

            <img src="{{ url_for('static', filename='cup-4.jpg') }}" alt="커피잔" id="pic">
        </section>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>